# DATA CLEANING #

**1) Removing NaN values***

In [2]:
import pandas as pd 

df = pd.read_csv('A2Z_insurance.csv')

In [3]:
#Removing the guy from the future and the one with 965y.

print(df[df['Brithday Year'] == 1028.0].index) #Index 7197
print(df[df['First Policy´s Year'] == 53784].index) #Index 9294

df = df.drop([df.index[7195], df.index[9294]])

Int64Index([7195], dtype='int64')
Int64Index([9294], dtype='int64')

In [4]:
#Replacing the NaN values of Living Area column with the mode.

mode_geo = df['Geographic Living Area'].mode()
print(mode_geo)

df['Geographic Living Area'] = df['Geographic Living Area'].fillna(4.0) #Porque é que não funciona com o mode_geo ???

df['Geographic Living Area'].isnull().sum()

0    4.0
dtype: float64

0

In [5]:
df_edu = df[['Educational Degree', 'Gross Monthly Salary']]
#df_edu

df_not_nan = df_edu[df_edu.notna().any(axis = 1)]

df_notNA_grouped = df_not_nan.groupby(['Educational Degree'])['Gross Monthly Salary'].mean()
df_notNA_grouped

Educational Degree
1 - Basic          1981.905213
2 - High School    2512.059395
3 - BSc/MSc        2616.703370
4 - PhD            2664.512195
Name: Gross Monthly Salary, dtype: float64

In [6]:
#Replacing the NaN values of Educational Degree column based on the mean of gross salary of which level of education.

df.loc[896,'Educational Degree'] = '3 - BSc/MSc'

df.loc[1707,'Educational Degree'] = '4 - PhD'

df.loc[2449,'Educational Degree'] = '4 - PhD'

df.loc[2728,'Educational Degree'] = '4 - PhD'

df.loc[2770,'Educational Degree'] = '1 - Basic'

df.loc[3056,'Educational Degree'] = '2 - High School'

df.loc[4423,'Educational Degree'] = '4 - PhD'

df.loc[6535,'Educational Degree'] = '2 - High School'

df.loc[7321,'Educational Degree'] = '4 - PhD'

df.loc[7470,'Educational Degree'] = '4 - PhD'

df.loc[8081,'Educational Degree'] = '4 - PhD'

df.loc[8173,'Educational Degree'] = '4 - PhD'

df.loc[8303,'Educational Degree'] = '4 - PhD'

df.loc[9136,'Educational Degree'] = '1 - Basic'

df.loc[9136,'Educational Degree'] = '1 - Basic'

df.loc[9312,'Educational Degree'] = '2 - High School'

df.loc[9610,'Educational Degree'] = '4 - PhD'

df['Educational Degree'].isnull().sum()

1