# DATA CLEANING #

**1) Removing NaN values**

In [97]:
import pandas as pd 

df = pd.read_csv('A2Z_insurance.csv')

df.shape

(10296, 14)

In [98]:
df_no_prob = df[~(df['First Policy´s Year'] < df['Brithday Year'])]
df_no_prob.shape
#df_no_prob.isnull().sum()

(8299, 14)

In [100]:
df_prob = df[df['First Policy´s Year'] < df['Brithday Year']]
df_prob.rename(columns = {'First Policy´s Year': 'Brithday Year', 'Brithday Year': 'First Policy´s Year'}, inplace = True)
df_prob.head()

df_prob.shape

/home/cat/.local/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

(1997, 14)

In [101]:
df = pd.concat([df_prob,df_no_prob])
#Porque é tenho fico com menos linhas?
df = df.sort_values(by = 'Customer Identity')
df.isnull().sum()

/home/cat/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

Brithday Year                           17
Claims Rate                              0
Customer Identity                        0
Customer Monetary Value                  0
Educational Degree                      17
First Policy´s Year                     30
Geographic Living Area                   1
Gross Monthly Salary                    36
Has Children (Y=1)                      21
Premiums in LOB:  Life                 104
Premiums in LOB: Health                 43
Premiums in LOB: Household               0
Premiums in LOB: Motor                  34
Premiums in LOB: Work Compensations     86
dtype: int64

In [102]:
#There aren't duplicated rows
df.duplicated('Customer Identity').sum()

0

In [103]:
#Age Columns
df['Age'] = 2016 - df['Brithday Year']
df['Age As Client'] = 2016 - df['First Policy´s Year']
df.columns
df.isnull().sum()

Brithday Year                           17
Claims Rate                              0
Customer Identity                        0
Customer Monetary Value                  0
Educational Degree                      17
First Policy´s Year                     30
Geographic Living Area                   1
Gross Monthly Salary                    36
Has Children (Y=1)                      21
Premiums in LOB:  Life                 104
Premiums in LOB: Health                 43
Premiums in LOB: Household               0
Premiums in LOB: Motor                  34
Premiums in LOB: Work Compensations     86
Age                                     17
Age As Client                           30
dtype: int64

In [105]:
#Ordering the columns

df = df[['Customer Identity', 'First Policy´s Year', 'Brithday Year', 'Age', 'Age As Client', 'Claims Rate',
       'Customer Monetary Value', 'Educational Degree',
       'Geographic Living Area', 'Gross Monthly Salary', 'Has Children (Y=1)',
       'Premiums in LOB:  Life', 'Premiums in LOB: Health',
       'Premiums in LOB: Household', 'Premiums in LOB: Motor',
       'Premiums in LOB: Work Compensations']]

#df[df['First Policy´s Year'] < df['Brithday Year']]

In [106]:
df.isnull().sum()

Customer Identity                        0
First Policy´s Year                     30
Brithday Year                           17
Age                                     17
Age As Client                           30
Claims Rate                              0
Customer Monetary Value                  0
Educational Degree                      17
Geographic Living Area                   1
Gross Monthly Salary                    36
Has Children (Y=1)                      21
Premiums in LOB:  Life                 104
Premiums in LOB: Health                 43
Premiums in LOB: Household               0
Premiums in LOB: Motor                  34
Premiums in LOB: Work Compensations     86
dtype: int64

In [107]:
#Removing the guy from the future and the one with 965y.

print(df[df['Brithday Year'] == 1028.0].index) #Index 7166
print(df[df['First Policy´s Year'] == 53784].index) #Index 9253

df = df.drop([df.index[7195], df.index[9295]])

Int64Index([7195], dtype='int64')
Int64Index([9294], dtype='int64')

In [108]:
df.describe()

,Customer Identity,First Policy´s Year,Brithday Year,Age,Age As Client,Claims Rate,Customer Monetary Value,Geographic Living Area,Gross Monthly Salary,Has Children (Y=1),Premiums in LOB: Life,Premiums in LOB: Health,Premiums in LOB: Household,Premiums in LOB: Motor,Premiums in LOB: Work Compensations
count,10294.000000,10264.000000,10277.000000,10277.000000,10264.000000,10294.000000,10294.000000,10293.000000,10258.000000,10273.000000,10190.000000,10251.000000,10294.000000,10260.000000,10208.000000
mean,5147.898193,1992.696415,1966.465505,49.534495,23.303585,0.742749,177.911891,2.709900,2506.682199,0.706804,41.858217,171.569492,210.431810,300.474373,41.279712
std,2972.282591,511.300763,15.476885,15.476885,511.300763,2.917246,1945.999819,1.266238,1157.548422,0.455250,47.483404,296.428977,352.630178,211.925148,51.518302
min,1.000000,1974.000000,1935.000000,18.000000,-51768.000000,0.000000,-165680.420000,1.000000,333.000000,0.000000,-7.000000,-2.110000,-75.000000,-4.110000,-12.000000
25%,2574.250000,1982.000000,1953.000000,37.000000,23.000000,0.390000,-9.440000,1.000000,1706.000000,0.000000,9.890000,111.800000,49.450000,190.590000,10.670000
50%,5147.500000,1988.000000,1968.000000,48.000000,28.000000,0.720000,187.035000,3.000000,2501.500000,1.000000,25.560000,162.810000,132.800000,298.610000,25.670000
75%,7721.750000,1993.000000,1979.000000,63.000000,34.000000,0.980000,399.832500,4.000000,3290.750000,1.000000,57.790000,219.430000,290.050000,408.300000,56.790000
max,10296.000000,53784.000000,1998.000000,81.000000,42.000000,256.200000,11875.890000,4.000000,55215.000000,1.000000,398.300000,28272.000000,25048.800000,11604.420000,1988.700000

In [109]:
#Replacing the NaN values of Living Area column with the mode.

mode_geo = df['Geographic Living Area'].mode()
print(mode_geo)

df['Geographic Living Area'] = df['Geographic Living Area'].fillna(4.0)

df['Geographic Living Area'].isnull().sum()

0    4.0
dtype: float64

0

In [110]:
df_edu = df[['Educational Degree', 'Gross Monthly Salary']]
#df_edu

df_not_nan = df_edu[df_edu.notna().any(axis = 1)]

df_notNA_grouped = df_not_nan.groupby(['Educational Degree'])['Gross Monthly Salary'].median()
df_notNA_grouped

Educational Degree
1 - Basic          1704.0
2 - High School    2503.0
3 - BSc/MSc        2615.0
4 - PhD            2645.0
Name: Gross Monthly Salary, dtype: float64

In [111]:
df.loc[896]

Customer Identity                         897
First Policy´s Year                       NaN
Brithday Year                            1960
Age                                        56
Age As Client                             NaN
Claims Rate                                 1
Customer Monetary Value                   -25
Educational Degree                        NaN
Geographic Living Area                      1
Gross Monthly Salary                     2643
Has Children (Y=1)                          1
Premiums in LOB:  Life                  12.89
Premiums in LOB: Health                 47.01
Premiums in LOB: Household               33.9
Premiums in LOB: Motor                 515.54
Premiums in LOB: Work Compensations      3.78
Name: 896, dtype: object

In [112]:
#Replacing the NaN values of Educational Degree column based on the mean of gross salary of which level of education.

df.loc[896,'Educational Degree'] = '3 - BSc/MSc'

df.loc[1707,'Educational Degree'] = '4 - PhD'

df.loc[2449,'Educational Degree'] = '4 - PhD'

df.loc[2728,'Educational Degree'] = '4 - PhD'

df.loc[2770,'Educational Degree'] = '1 - Basic'

df.loc[3056,'Educational Degree'] = '2 - High School'

df.loc[4423,'Educational Degree'] = '4 - PhD'

df.loc[6535,'Educational Degree'] = '2 - High School'

df.loc[7321,'Educational Degree'] = '4 - PhD'

df.loc[7470,'Educational Degree'] = '4 - PhD'

df.loc[8081,'Educational Degree'] = '4 - PhD'

df.loc[8173,'Educational Degree'] = '4 - PhD'

df.loc[8303,'Educational Degree'] = '4 - PhD'

df.loc[9136,'Educational Degree'] = '1 - Basic'

df.loc[9136,'Educational Degree'] = '1 - Basic'

df.loc[9312,'Educational Degree'] = '2 - High School'

df.loc[9610,'Educational Degree'] = '4 - PhD'

df['Educational Degree'].isnull().sum()

1

In [113]:
df.head()

,Customer Identity,First Policy´s Year,Brithday Year,Age,Age As Client,Claims Rate,Customer Monetary Value,Educational Degree,Geographic Living Area,Gross Monthly Salary,Has Children (Y=1),Premiums in LOB: Life,Premiums in LOB: Health,Premiums in LOB: Household,Premiums in LOB: Motor,Premiums in LOB: Work Compensations
0,1,1985.0,1982.0,34.0,31.0,0.39,380.97,2 - High School,1.0,2177.0,1.0,47.01,146.36,79.45,375.85,16.89
1,2,1995.0,1981.0,35.0,21.0,1.12,-131.13,2 - High School,4.0,677.0,1.0,194.48,116.69,416.20,77.46,106.13
2,3,1991.0,1970.0,46.0,25.0,0.28,504.67,1 - Basic,3.0,2277.0,0.0,86.35,124.58,224.50,206.15,99.02
3,4,1990.0,1981.0,35.0,26.0,0.99,-16.99,3 - BSc/MSc,4.0,1099.0,1.0,35.34,311.17,43.35,182.48,28.34
4,5,1986.0,1973.0,43.0,30.0,0.90,35.23,3 - BSc/MSc,4.0,1763.0,1.0,18.78,182.59,47.80,338.62,41.45