In [11]:
import pandas as pd
from sklearn import cluster
import numpy as np

In [12]:
df = pd.read_csv('A2Z_insurance.csv')

In [13]:
df['Premiums Sum'] = df['Premiums in LOB: Motor'] +  df['Premiums in LOB: Household'] + df['Premiums in LOB: Health'] + df['Premiums in LOB:  Life'] + df['Premiums in LOB: Work Compensations']
df['Amount Paid by the Insurance Company'] = df['Claims Rate'] * df['Premiums Sum']
#Age Columns
df['Age'] = 2016 - df['Brithday Year']
df['Age As Client'] = 2016 - df['First Policy´s Year']
df = df.dropna()
df['Annual Salary'] = df['Gross Monthly Salary']*12
df[df['Premiums Sum'] > df['Annual Salary']]
df = df.drop(df.index[9149])

In [14]:
df.head()

,Customer Identity,First Policy´s Year,Brithday Year,Educational Degree,Gross Monthly Salary,Geographic Living Area,Has Children (Y=1),Customer Monetary Value,Claims Rate,Premiums in LOB: Motor,Premiums in LOB: Household,Premiums in LOB: Health,Premiums in LOB: Life,Premiums in LOB: Work Compensations,Premiums Sum,Amount Paid by the Insurance Company,Age,Age As Client,Annual Salary
0,1,1985.0,1982.0,2 - High School,2177.0,1.0,1.0,380.97,0.39,375.85,79.45,146.36,47.01,16.89,665.56,259.5684,34.0,31.0,26124.0
1,2,1981.0,1995.0,2 - High School,677.0,4.0,1.0,-131.13,1.12,77.46,416.20,116.69,194.48,106.13,910.96,1020.2752,21.0,35.0,8124.0
2,3,1991.0,1970.0,1 - Basic,2277.0,3.0,0.0,504.67,0.28,206.15,224.50,124.58,86.35,99.02,740.60,207.3680,46.0,25.0,27324.0
3,4,1990.0,1981.0,3 - BSc/MSc,1099.0,4.0,1.0,-16.99,0.99,182.48,43.35,311.17,35.34,28.34,600.68,594.6732,35.0,26.0,13188.0
4,5,1986.0,1973.0,3 - BSc/MSc,1763.0,4.0,1.0,35.23,0.90,338.62,47.80,182.59,18.78,41.45,629.24,566.3160,43.0,30.0,21156.0

In [15]:
var_cluster = df[['Premiums in LOB:  Life',
                'Premiums in LOB: Health',
                'Premiums in LOB: Household',
                'Premiums in LOB: Motor',
                'Premiums in LOB: Work Compensations']]

In [16]:
agglo = cluster.FeatureAgglomeration(n_clusters=3)
agglo.fit(var_cluster)
agglo.labels_
df_reduced = agglo.transform(var_cluster)
print(df_reduced)

[[ 70.08666667  79.45       375.85      ]
 [139.1        416.2         77.46      ]
 [103.31666667 224.5        206.15      ]
 ...
 [ 53.27       132.8        403.63      ]
 [125.06       211.15       188.59      ]
 [ 53.67666667  94.45       414.08      ]]

In [17]:
df_reduced

array([[ 70.08666667,  79.45      , 375.85      ],
       [139.1       , 416.2       ,  77.46      ],
       [103.31666667, 224.5       , 206.15      ],
       ...,
       [ 53.27      , 132.8       , 403.63      ],
       [125.06      , 211.15      , 188.59      ],
       [ 53.67666667,  94.45      , 414.08      ]])

In [19]:
n_features = 15
n_clusters = 3
feature_identifier = range(n_features)
feature_groups = [np.array(feature_identifier)[agglo.labels_==i] for i in range(n_clusters)]
new_features = [var_clusterloc[:,var_cluster.keys()[group]].mean(0) for group in feature_groups]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 15 but corresponding boolean dimension is 5