In [5]:
import pandas as pd

data = {'col1': [1, 2,None,5,7], 'col2': [3, 4,6,None,8]}

df = pd.DataFrame(data)
df

   col1  col2
0   1.0   3.0
1   2.0   4.0
2   NaN   6.0
3   5.0   NaN
4   7.0   8.0

In [6]:
apply(lambda x: x if not pd.isnull(df) else 'Is Null value')

NameError: name 'apply' is not defined

In [ ]:


def get_rid_of_nulls(value):
    if pd.isnull(value):
        return 'Is Null value'
    else:
        return value

df['Age'].apply(get_rid_of_nulls)