In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('A2Z_insurance.csv')

In [3]:
def FirstLook(df):
    
    """Given a dataFrame the function prints the best insights."""
    
    print("First 5 rows of the dataFrame: \n\n", df.head())
    print("Shape: \n\n", df.shape)
    print("Columns names: \n\n", df.columns)
    print("Columns types: \n\n", df.dtypes)
    print("Description: \n\n", df.describe())

In [4]:
FirstLook(df)

First 5 rows of the dataFrame:

    Customer Identity  First Policy´s Year  Brithday Year Educational Degree  \
0                  1               1985.0         1982.0    2 - High School
1                  2               1981.0         1995.0    2 - High School
2                  3               1991.0         1970.0          1 - Basic
3                  4               1990.0         1981.0        3 - BSc/MSc
4                  5               1986.0         1973.0        3 - BSc/MSc

   Gross Monthly Salary  Geographic Living Area  Has Children (Y=1)  \
0                2177.0                     1.0                 1.0
1                 677.0                     4.0                 1.0
2                2277.0                     3.0                 0.0
3                1099.0                     4.0                 1.0
4                1763.0                     4.0                 1.0

   Customer Monetary Value  Claims Rate  Premiums in LOB: Motor  \
0                   380.97         0.39                  375.85
1                  -131.13         1.12                   77.46
2                   504.67         0.28                  206.15
3                   -16.99         0.99                  182.48
4                    35.23         0.90                  338.62

   Premiums in LOB: Household  Premiums in LOB: Health  \
0                       79.45                   146.36
1                      416.20                   116.69
2                      224.50                   124.58
3                       43.35                   311.17
4                       47.80                   182.59

   Premiums in LOB:  Life  Premiums in LOB: Work Compensations
0                   47.01                                16.89
1                  194.48                               106.13
2                   86.35                                99.02
3                   35.34                                28.34
4                   18.78                                41.45
Shape:

 (10296, 14)
Columns names:

 Index(['Customer Identity', 'First Policy´s Year', 'Brithday Year',
       'Educational Degree', 'Gross Monthly Salary', 'Geographic Living Area',
       'Has Children (Y=1)', 'Customer Monetary Value', 'Claims Rate',
       'Premiums in LOB: Motor', 'Premiums in LOB: Household',
       'Premiums in LOB: Health', 'Premiums in LOB:  Life',
       'Premiums in LOB: Work Compensations'],
      dtype='object')
Columns types:

 Customer Identity                        int64
First Policy´s Year                    float64
Brithday Year                          float64
Educational Degree                      object
Gross Monthly Salary                   float64
Geographic Living Area                 float64
Has Children (Y=1)                     float64
Customer Monetary Value                float64
Claims Rate                            float64
Premiums in LOB: Motor                 float64
Premiums in LOB: Household             float64
Premiums in LOB: Health                float64
Premiums in LOB:  Life                 float64
Premiums in LOB: Work Compensations    float64
dtype: object
Description:

        Customer Identity  First Policy´s Year  Brithday Year  \
count        10296.00000         10266.000000   10279.000000
mean          5148.50000          1991.062634    1968.007783
std           2972.34352           511.267913      19.709476
min              1.00000          1974.000000    1028.000000
25%           2574.75000          1980.000000    1953.000000
50%           5148.50000          1986.000000    1968.000000
75%           7722.25000          1992.000000    1983.000000
max          10296.00000         53784.000000    2001.000000

       Gross Monthly Salary  Geographic Living Area  Has Children (Y=1)  \
count          10260.000000            10295.000000        10275.000000
mean            2506.667057                2.709859            0.706764
std             1157.449634                1.266291            0.455268
min              333.000000                1.000000            0.000000
25%             1706.000000                1.000000            0.000000
50%             2501.500000                3.000000            1.000000
75%             3290.250000                4.000000            1.000000
max            55215.000000                4.000000            1.000000

       Customer Monetary Value   Claims Rate  Premiums in LOB: Motor  \
count             10296.000000  10296.000000            10262.000000
mean                177.892605      0.742772              300.470252
std                1945.811505      2.916964              211.914997
min             -165680.420000      0.000000               -4.110000
25%                  -9.440000      0.390000              190.590000
50%                 186.870000      0.720000              298.610000
75%                 399.777500      0.980000              408.300000
max               11875.890000    256.200000            11604.420000

       Premiums in LOB: Household  Premiums in LOB: Health  \
count                10296.000000             10253.000000
mean                   210.431192               171.580833
std                    352.595984               296.405976
min                    -75.000000                -2.110000
25%                     49.450000               111.800000
50%                    132.800000               162.810000
75%                    290.050000               219.820000
max                  25048.800000             28272.000000

       Premiums in LOB:  Life  Premiums in LOB: Work Compensations
count            10192.000000                         10210.000000
mean                41.855782                            41.277514
std                 47.480632                            51.513572
min                 -7.000000                           -12.000000
25%                  9.890000                            10.670000
50%                 25.560000                            25.670000
75%                 57.790000                            56.790000
max                398.300000                          1988.700000

- First year policy max to high
- Birthday year min to low

In [5]:
df['Premiums Sum'] = df['Premiums in LOB: Motor'] +  df['Premiums in LOB: Household'] + df['Premiums in LOB: Health'] + df['Premiums in LOB:  Life'] + df['Premiums in LOB: Work Compensations']

df.head()

,Customer Identity,First Policy´s Year,Brithday Year,Educational Degree,Gross Monthly Salary,Geographic Living Area,Has Children (Y=1),Customer Monetary Value,Claims Rate,Premiums in LOB: Motor,Premiums in LOB: Household,Premiums in LOB: Health,Premiums in LOB: Life,Premiums in LOB: Work Compensations,Premiums Sum
0,1,1985.0,1982.0,2 - High School,2177.0,1.0,1.0,380.97,0.39,375.85,79.45,146.36,47.01,16.89,665.56
1,2,1981.0,1995.0,2 - High School,677.0,4.0,1.0,-131.13,1.12,77.46,416.20,116.69,194.48,106.13,910.96
2,3,1991.0,1970.0,1 - Basic,2277.0,3.0,0.0,504.67,0.28,206.15,224.50,124.58,86.35,99.02,740.60
3,4,1990.0,1981.0,3 - BSc/MSc,1099.0,4.0,1.0,-16.99,0.99,182.48,43.35,311.17,35.34,28.34,600.68
4,5,1986.0,1973.0,3 - BSc/MSc,1763.0,4.0,1.0,35.23,0.90,338.62,47.80,182.59,18.78,41.45,629.24

In [6]:
df['Amount Paid by the Insurance Company'] = df['Claims Rate'] * df['Premiums Sum']

In [7]:
#Age Columns
df['Age'] = 2016 - df['Brithday Year']
df['Age As Client'] = 2016 - df['First Policy´s Year']

df.head()

,Customer Identity,First Policy´s Year,Brithday Year,Educational Degree,Gross Monthly Salary,Geographic Living Area,Has Children (Y=1),Customer Monetary Value,Claims Rate,Premiums in LOB: Motor,Premiums in LOB: Household,Premiums in LOB: Health,Premiums in LOB: Life,Premiums in LOB: Work Compensations,Premiums Sum,Amount Paid by the Insurance Company,Age,Age As Client
0,1,1985.0,1982.0,2 - High School,2177.0,1.0,1.0,380.97,0.39,375.85,79.45,146.36,47.01,16.89,665.56,259.5684,34.0,31.0
1,2,1981.0,1995.0,2 - High School,677.0,4.0,1.0,-131.13,1.12,77.46,416.20,116.69,194.48,106.13,910.96,1020.2752,21.0,35.0
2,3,1991.0,1970.0,1 - Basic,2277.0,3.0,0.0,504.67,0.28,206.15,224.50,124.58,86.35,99.02,740.60,207.3680,46.0,25.0
3,4,1990.0,1981.0,3 - BSc/MSc,1099.0,4.0,1.0,-16.99,0.99,182.48,43.35,311.17,35.34,28.34,600.68,594.6732,35.0,26.0
4,5,1986.0,1973.0,3 - BSc/MSc,1763.0,4.0,1.0,35.23,0.90,338.62,47.80,182.59,18.78,41.45,629.24,566.3160,43.0,30.0

In [8]:
#Removing the guy from the future and the one with 965y.

print(df[df['Brithday Year'] == 1028.0].index) #Index 7195
print(df[df['First Policy´s Year'] == 53784].index) #Index 9254

df = df.drop([df.index[7195], df.index[9294]])

Int64Index([7195], dtype='int64')
Int64Index([9294], dtype='int64')

In [9]:
#Ordering the columns

df = df[['Customer Identity', 'First Policy´s Year', 'Brithday Year', 'Age', 'Age As Client', 
         'Claims Rate', 'Educational Degree', 'Geographic Living Area', 'Has Children (Y=1)',
       'Customer Monetary Value', 'Amount Paid by the Insurance Company', 'Gross Monthly Salary',
       'Premiums in LOB:  Life', 'Premiums in LOB: Health',
       'Premiums in LOB: Household', 'Premiums in LOB: Motor',
       'Premiums in LOB: Work Compensations']]

df.columns

Index(['Customer Identity', 'First Policy´s Year', 'Brithday Year', 'Age',
       'Age As Client', 'Claims Rate', 'Educational Degree',
       'Geographic Living Area', 'Has Children (Y=1)',
       'Customer Monetary Value', 'Amount Paid by the Insurance Company',
       'Gross Monthly Salary', 'Premiums in LOB:  Life',
       'Premiums in LOB: Health', 'Premiums in LOB: Household',
       'Premiums in LOB: Motor', 'Premiums in LOB: Work Compensations'],
      dtype='object')

In [10]:
df.isnull().sum()

Customer Identity                         0
First Policy´s Year                      30
Brithday Year                            17
Age                                      17
Age As Client                            30
Claims Rate                               0
Educational Degree                       17
Geographic Living Area                    1
Has Children (Y=1)                       21
Customer Monetary Value                   0
Amount Paid by the Insurance Company    225
Gross Monthly Salary                     36
Premiums in LOB:  Life                  104
Premiums in LOB: Health                  43
Premiums in LOB: Household                0
Premiums in LOB: Motor                   34
Premiums in LOB: Work Compensations      86
dtype: int64

In [11]:
df.shape

(10294, 17)

In [12]:
df = df.dropna()

In [13]:
df.shape

(9985, 17)

In [14]:
FirstLook(df)

First 5 rows of the dataFrame:

    Customer Identity  First Policy´s Year  Brithday Year   Age  Age As Client  \
0                  1               1985.0         1982.0  34.0           31.0
1                  2               1981.0         1995.0  21.0           35.0
2                  3               1991.0         1970.0  46.0           25.0
3                  4               1990.0         1981.0  35.0           26.0
4                  5               1986.0         1973.0  43.0           30.0

   Claims Rate Educational Degree  Geographic Living Area  Has Children (Y=1)  \
0         0.39    2 - High School                     1.0                 1.0
1         1.12    2 - High School                     4.0                 1.0
2         0.28          1 - Basic                     3.0                 0.0
3         0.99        3 - BSc/MSc                     4.0                 1.0
4         0.90        3 - BSc/MSc                     4.0                 1.0

   Customer Monetary Value  Amount Paid by the Insurance Company  \
0                   380.97                              259.5684
1                  -131.13                             1020.2752
2                   504.67                              207.3680
3                   -16.99                              594.6732
4                    35.23                              566.3160

   Gross Monthly Salary  Premiums in LOB:  Life  Premiums in LOB: Health  \
0                2177.0                   47.01                   146.36
1                 677.0                  194.48                   116.69
2                2277.0                   86.35                   124.58
3                1099.0                   35.34                   311.17
4                1763.0                   18.78                   182.59

   Premiums in LOB: Household  Premiums in LOB: Motor  \
0                       79.45                  375.85
1                      416.20                   77.46
2                      224.50                  206.15
3                       43.35                  182.48
4                       47.80                  338.62

   Premiums in LOB: Work Compensations
0                                16.89
1                               106.13
2                                99.02
3                                28.34
4                                41.45
Shape:

 (9985, 17)
Columns names:

 Index(['Customer Identity', 'First Policy´s Year', 'Brithday Year', 'Age',
       'Age As Client', 'Claims Rate', 'Educational Degree',
       'Geographic Living Area', 'Has Children (Y=1)',
       'Customer Monetary Value', 'Amount Paid by the Insurance Company',
       'Gross Monthly Salary', 'Premiums in LOB:  Life',
       'Premiums in LOB: Health', 'Premiums in LOB: Household',
       'Premiums in LOB: Motor', 'Premiums in LOB: Work Compensations'],
      dtype='object')
Columns types:

 Customer Identity                         int64
First Policy´s Year                     float64
Brithday Year                           float64
Age                                     float64
Age As Client                           float64
Claims Rate                             float64
Educational Degree                       object
Geographic Living Area                  float64
Has Children (Y=1)                      float64
Customer Monetary Value                 float64
Amount Paid by the Insurance Company    float64
Gross Monthly Salary                    float64
Premiums in LOB:  Life                  float64
Premiums in LOB: Health                 float64
Premiums in LOB: Household              float64
Premiums in LOB: Motor                  float64
Premiums in LOB: Work Compensations     float64
dtype: object
Description:

        Customer Identity  First Policy´s Year  Brithday Year          Age  \
count        9985.000000          9985.000000    9985.000000  9985.000000
mean         5152.698147          1986.021933    1968.116575    47.883425
std          2974.195774             6.604681      17.433672    17.433672
min             1.000000          1974.000000    1935.000000    15.000000
25%          2578.000000          1980.000000    1953.000000    33.000000
50%          5161.000000          1986.000000    1968.000000    48.000000
75%          7726.000000          1992.000000    1983.000000    63.000000
max         10296.000000          1998.000000    2001.000000    81.000000

       Age As Client  Claims Rate  Geographic Living Area  Has Children (Y=1)  \
count    9985.000000  9985.000000             9985.000000         9985.000000
mean       29.978067     0.745466                2.714271            0.705658
std         6.604681     2.961024                1.266629            0.455769
min        18.000000     0.000000                1.000000            0.000000
25%        24.000000     0.400000                1.000000            0.000000
50%        30.000000     0.720000                3.000000            1.000000
75%        36.000000     0.980000                4.000000            1.000000
max        42.000000   256.200000                4.000000            1.000000

       Customer Monetary Value  Amount Paid by the Insurance Company  \
count              9985.000000                           9985.000000
mean                177.798403                            564.967473
std                1975.430380                           2012.119427
min             -165680.420000                              0.000000
25%                  -8.220000                            296.854800
50%                 187.820000                            546.903000
75%                 399.860000                            649.603500
max               11875.890000                         166304.544000

       Gross Monthly Salary  Premiums in LOB:  Life  Premiums in LOB: Health  \
count           9985.000000             9985.000000              9985.000000
mean            2505.675113               42.013345               172.314024
std             1164.237744               47.627004               300.084756
min              333.000000               -7.000000                -2.110000
25%             1700.000000                9.890000               112.020000
50%             2500.000000               25.560000               163.030000
75%             3293.000000               57.900000               219.930000
max            55215.000000              398.300000             28272.000000

       Premiums in LOB: Household  Premiums in LOB: Motor  \
count                 9985.000000             9985.000000
mean                   213.013130              298.926115
std                    356.143193              213.385202
min                    -75.000000               -4.110000
25%                     50.000000              189.590000
50%                    133.900000              297.280000
75%                    294.500000              406.300000
max                  25048.800000            11604.420000

       Premiums in LOB: Work Compensations
count                          9985.000000
mean                             41.505458
std                              51.737804
min                             -12.000000
25%                              10.670000
50%                              26.340000
75%                              56.790000
max                            1988.700000

In [15]:
df[df['Brithday Year'] > df['First Policy´s Year']].shape

(1948, 17)

Let's drop those.

In [16]:
df_prob1 = df[df['Brithday Year'] <= df['First Policy´s Year']]
df

,Customer Identity,First Policy´s Year,Brithday Year,Age,Age As Client,Claims Rate,Educational Degree,Geographic Living Area,Has Children (Y=1),Customer Monetary Value,Amount Paid by the Insurance Company,Gross Monthly Salary,Premiums in LOB: Life,Premiums in LOB: Health,Premiums in LOB: Household,Premiums in LOB: Motor,Premiums in LOB: Work Compensations
0,1,1985.0,1982.0,34.0,31.0,0.39,2 - High School,1.0,1.0,380.97,259.5684,2177.0,47.01,146.36,79.45,375.85,16.89
2,3,1991.0,1970.0,46.0,25.0,0.28,1 - Basic,3.0,0.0,504.67,207.3680,2277.0,86.35,124.58,224.50,206.15,99.02
3,4,1990.0,1981.0,35.0,26.0,0.99,3 - BSc/MSc,4.0,1.0,-16.99,594.6732,1099.0,35.34,311.17,43.35,182.48,28.34
4,5,1986.0,1973.0,43.0,30.0,0.90,3 - BSc/MSc,4.0,1.0,35.23,566.3160,1763.0,18.78,182.59,47.80,338.62,41.45
5,6,1986.0,1956.0,60.0,30.0,1.00,2 - High School,4.0,1.0,-24.33,589.1200,2566.0,7.00,114.80,18.90,440.75,7.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10291,10292,1984.0,1949.0,67.0,32.0,0.96,4 - PhD,2.0,0.0,-0.11,615.8976,3188.0,9.78,173.81,49.45,393.74,14.78
10292,10293,1977.0,1952.0,64.0,39.0,0.00,1 - Basic,3.0,0.0,1405.60,0.0000,2431.0,12.89,143.25,1035.75,133.58,105.13
10293,10294,1994.0,1976.0,40.0,22.0,0.21,3 - BSc/MSc,1.0,1.0,524.10,146.2104,2918.0,12.67,142.25,132.80,403.63,4.89
10294,10295,1981.0,1977.0,39.0,35.0,0.65,1 - Basic,2.0,1.0,250.05,503.6980,1971.0,63.90,198.37,211.15,188.59,112.91
10295,10296,1990.0,1981.0,35.0,26.0,0.27,4 - PhD,1.0,1.0,463.75,180.7812,2815.0,6.89,141.25,94.45,414.08,12.89

In [17]:
#to_remove = list(df_wrong['Brithday Year'])

#MAFALDA: This is not running and I don't know where this comes from

NameError: name 'df_wrong' is not defined

In [18]:
df.duplicated().sum()

0

In [19]:
#let's see how many people here are younger than 16 so we can remove them since they're legally not allowed to work

df.loc[df['Age'] < 16]

#they seem to have disappeared after you drop all nulls

Empty DataFrame
Columns: [Customer Identity, First Policy´s Year, Brithday Year, Age, Age As Client, Claims Rate, Educational Degree, Geographic Living Area, Has Children (Y=1), Customer Monetary Value, Amount Paid by the Insurance Company, Gross Monthly Salary, Premiums in LOB:  Life, Premiums in LOB: Health, Premiums in LOB: Household, Premiums in LOB: Motor, Premiums in LOB: Work Compensations]
Index: []

In [21]:
#the code to remove the children, if they were here lol, would be:

df.drop(df['Age'] < 16)

#which doesn't work right now because somehow the children have all been removed ¯\_(ツ)_/¯